/* Main_Account account.thml*/
.account {
    margin: 20px 0;
}

.account__item {
    padding: 20px;
    border: 1px solid #636161;
    border-radius: 10px;
    background-color: #00000075;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.account__img-profile {
    width: 50px;
    border-radius: 100%;
}

.account__text {
    display: block;
    margin-left: 15px;
    overflow: hidden;
    width: 400px;
}

.account__username {
    padding-bottom: 5px;
    font-size: 24px;
}

.account__id {
    font-size: 16px;
}

.account__img-usdt {
    width: 50px;
    border-radius: 100%;
}

.account__money-text {
    display: flex;
    width: 400px;
}

.account__money {
    margin-left: 15px;
    font-size: 24px;
}

.account__balance {
    font-size: 24px;
    padding-left: 10px;
}