.story__games {
    margin: 15px 0;
}

.story__game {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
    background: #2231463a;
    margin-bottom: 10px;
}

.story__game-box {}

.story__game-info {
    display: flex;
    align-items: center;
    padding-bottom: 3px;
}

.story__games-title {
    font-size: 18px;
    padding: 0 5px;
}

.story__game-data {
    display: flex;
    font-size: 10px;
    color: #999999;
}

.story__game-date {}

.story__game-time {
    padding: 0 5px;
}

.story__game-result {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.story__game-cash {
    padding-right: 5px;
}