@import url('index.css');
@import url('poker.css');
@import url('joingame.css');
@import url('newpoker.css');
@import url('search.css');
@import url('wallet.css');
@import url('story.css');
@import url('account.css');
@import url('tables.css');
@import url('rangeSlider.css');
@import url('referrals-more.css');
@import url('knb-game.css');
@import url('bones-game.css');

html,
body {
    font-family: "Lunasima", sans-serif;
    font-size: 12px;
    height: 100%;
    color: #fff;
    background: repeating-linear-gradient(45deg, #0d131b, #0d131b 10px, #101721 10px, #101721 20px);
}

button {
    font-family: "Lunasima", sans-serif !important;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    box-sizing: border-box;
    max-width: 450px;
    margin: 0 auto;
}

.header {
    background-color: #17212b;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 70px;
}

.header__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header__item {
    display: flex;
    align-items: center;
}

.header__logo-link img {
    width: 115px;
}

.header__box {
    display: flex;
    align-items: center;
}

.header__box-money {
    display: flex;
    align-items: center;
    max-width: 145px;
    width: 100%;
    border: 1px solid #4e6989;
    border-radius: 25px;
    padding: 5px;
    margin-right: 10px;
}

.header__box-img {
    width: 22px;
    margin-right: 5px;
}

.header__box-balance {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-right: 5px;
}

.header__box-btn {
    width: 23px;
}

.header__ava-link img {
    width: 45px;
    border-radius: 50%;
}

.search__btn {
    position: fixed;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    max-width: 480px;
    width: 100%;
    padding: 15px;
    background: repeating-linear-gradient(45deg, #0d131b, #0d131b 10px, #101721 10px, #101721 20px);
    z-index: 2;
    box-sizing: border-box;
}

.search__btn-input {
    max-width: 450px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #5c5b5b;
    border-radius: 5px;
    padding: 3px 10px;
    color: #fff;
    box-sizing: border-box;
}

.search__btn-input:focus {
    outline: 2px solid #315980;
    background-color: #1e375079;
    color: #fff;
}

.search__btn-input:valid {
    font-family: "Lunasima", sans-serif;
}

.search__btn-input::placeholder {
    font-family: "Lunasima", sans-serif;
}

.search__btn-img {
    width: 18px;
    margin-left: 10px;
}

.main {
    padding: 70px 15px;
}

.spiner__btn {
    position: relative;
}

.spiner__btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-image: url(../images/icons/spinner.svg);

    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    z-index: 1;
}

.spiner__btn.loading::before {
    display: block;
}

.spinner__container {
    color: transparent;
}

/* FOOTER NAVBAR */
.footer {
    padding: 10px;
    background-color: #17212b;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.navbar__items {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}


.navbat__item {
    margin: 0 20px;
}

.navbar__img {
    text-align: center;
    filter: invert(50%);
    width: 30px;
}

.navbar__nav {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

.navbar__text {
    color: #6f6e6e;
}

.active .navbar__img {
    filter: invert(100%);
}

.active .navbar__text {
    color: #fff;
}


/* BURGER */
.menu {
    width: 400px;
    height: 450px;
    background-color: #230505b8;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    border: 1px solid #3e2d2d;
    margin: 10px;
    z-index: 10;
    list-style: none;
}

.menu__items.menu__open {
    left: 0;
    right: 0;

}

.menu__items {
    position: absolute;
    bottom: 70px;
    left: 110%;
    display: flex;
    justify-content: center;
    z-index: 1;
    transition: all 0.4s ease;
}

.menu__item {
    padding-bottom: 20px;
    font-size: 24px;
    transition: font-size 0.3s;
}

.menu__item:hover {
    font-size: 30px;
}

.menu__link {
    display: flex;
    color: #fff;
}

.menu__img {
    padding-right: 10px;
    width: 20px;
    filter: invert(100%);
    transition: transform 0.3s;
}

.menu__item:hover .menu__img {
    transform: scale(1.2);
}