/* Main_Wallet wallet.thml*/
.status-none {
    display: none;
}

.wallet {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.wallet__box {
    max-width: 400px;
    background-color: transparent;
    margin: 0 auto;
    flex: 1;
}

.wallet__items {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.wallet__item {
    text-align: center;
    padding-top: 15px;
}

.wallet__img-usdt {
    width: 50px;
    padding-bottom: 20px;
}

.wallet__money-text {
    display: flex;
}

.wallet__money {
    font-size: 24px;
}

.wallet__balance {
    margin-left: 15px;
    font-size: 24px;
}

.wallet__btn {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.wallet__btn-text {
    width: 160px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.wallet__btn-conclusion {
    background: repeating-linear-gradient(45deg,
            #bc6060,
            #bc6060 10px,
            #984646 10px,
            #984646 20px);
}

.wallet__btn-refill {
    background: repeating-linear-gradient(45deg,
            #60bc86,
            #60bc86 10px,
            #469879 10px,
            #469879 20px);
}

.wallet__transactions {
    max-height: 480px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.wallet__transactions::-webkit-scrollbar {
    display: none;
}

.wallet__transaction {
    display: block;
    margin: 0 10px 15px;
    cursor: pointer;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

.wallet__transaction-details {
    display: none;
    padding: 10px 5px 10px 24px;
    /* margin-left: 29px; */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.438);
}

.wallet__transaction-status {
    display: flex;
    justify-content: space-between;
}

.wallet__transaction-status-btn {
    background-color: #747373;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
    color: #ffffff;
    padding: 2px 10px;
    margin-left: 10px;
    font-size: 12px;
}

.wallet__transaction-status-grey {
    color: #868686;
}

.wallet__transaction-status-green {
    color: #44a36f;
}

.wallet__transaction-status-red {
    color: #b90101;
}

.wallet__transaction-status-yellow {
    color: #f5ff67;
}

.wallet__transaction-status-light--gray {
    color: #b6b6b6;
}

.wallet__transaction-times {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.wallet__transaction-time--date {
    padding-right: 10px;
}

.wallet__transaction.activeDetails .wallet__transaction-details {
    display: block;
}

.wallet__transaction-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wallet__transaction-box {
    display: flex;
}

.wallet__transaction-img {
    width: 20px;
    margin-right: 10px;
}

.wallet__transaction-text {
    display: block;
}

.wallet__transaction-rtwl {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}

.wallet__transaction-date {
    color: #868686;
}

.wallet__transaction-money {
    font-size: 14px;
    font-weight: 700;
}

.wallet__new-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #04233db2;
    border: 1px solid #072a47;
    border-radius: 15px;
    padding: 30px 15px;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.wallet__new-block {
    text-align: center;
}

.wallet__new-block img {
    width: 50px;
    border-radius: 50%;
}

.wallet__new-title {
    line-height: 27px;
    font-size: 18px;
    padding-top: 20px;
}

.wallet__new-box {
    margin-top: 15px;
    position: relative;
}

.wallet__new-text {
    font-size: 14px;
    color: #9f9e9e;
}

.wallet__new-bet--input {
    margin-top: 7px;
    border: 1px solid #5c5b5b;
    border-radius: 5px;
    background-color: #1e375079;
    color: #fff;
    outline: none;
    text-indent: 5px;
    width: 100%;
    padding: 5px 54px 5px 5px;
    box-sizing: border-box;
}

.wallet__new-bet--btn {
    background: transparent;
    color: #469879;
    border: none;
    position: absolute;
    top: 12px;
    right: 5px;
}

.wallet__new-info {
    margin-top: 5px;
}

.wallet__new-commission {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.wallet__new-sum--text {
    padding-right: 5px;
}

.wallet__new-total {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.wallet__new-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.wallet__new-cancel,
.wallet__new-create {
    border: none;
    border-radius: 5px;
    max-width: 140px;
    width: 100vw;
    height: 35px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.wallet__new-cancel {
    background: repeating-linear-gradient(45deg, #555972, #555972 10px, #41465f 10px, #41465f 20px);
}

.wallet__new-create {
    background: repeating-linear-gradient(45deg, #5c69c0, #5c69c0 10px, #43509b 10px, #43509b 20px);
}

.wallet__new-blur {
    background-color: #02251221;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;
}