/* Main_Wallet wallet.thml*/
.wallet {
    overflow: hidden;
}

.wallet__box {
    max-width: 400px;
    background-color: transparent;
    margin: 0 auto;
}

.wallet__items {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.wallet__item {
    text-align: center;
    padding-top: 15px;
}

.wallet__img-usdt {
    width: 50px;
    padding-bottom: 20px;
}

.wallet__money-text {
    display: flex;
}

.wallet__money {
    font-size: 24px;
}

.wallet__balance {
    margin-left: 15px;
    font-size: 24px;
}

.wallet__btn {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.wallet__btn-text {
    width: 160px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.wallet__btn-conclusion {
    background: repeating-linear-gradient(45deg,
            #bc6060,
            #bc6060 10px,
            #984646 10px,
            #984646 20px);
}

.wallet__btn-refill {
    background: repeating-linear-gradient(45deg,
            #60bc86,
            #60bc86 10px,
            #469879 10px,
            #469879 20px);
}

.wallet__transactions {
    max-height: 480px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.wallet__transactions::-webkit-scrollbar {
    display: none;
}

.wallet__transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px 15px;
}

.wallet__transaction-box {
    display: flex;
}

.wallet__transaction-img {
    width: 20px;
    margin-right: 10px;
}

.wallet__transaction-text {
    display: block;
}

.wallet__transaction-rtwl {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}

.wallet__transaction-date {
    color: #868686;
}

.wallet__transaction-money {
    font-size: 14px;
    font-weight: 700;
}