/* Main_Account account.thml*/
.account {
    margin: 20px 0;

    &__items {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    &__item {
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: repeating-linear-gradient(45deg,
                #606dbc,
                #606dbc 10px,
                #465298 10px,
                #465298 20px);
    }

    &__item-counter {
        background: repeating-linear-gradient(45deg,
                #c95353,
                #c95353 10px,
                #803535 10px,
                #803535 20px);

        text-shadow:
            -1px -1px 0 #691212,
            1px -1px 0 #691212,
            -1px 1px 0 #691212,
            1px 1px 0 #691212;
        border-radius: 5px 5px 0 0;
        margin-bottom: 0;
        padding: 5px 15px;
    }

    &__counter-box {
        background: repeating-linear-gradient(45deg,
                #bc6060,
                #bc6060 10px,
                #984646 10px,
                #984646 20px);
        background-position: 1px;
        background-size: calc(100% + 22px);
        text-shadow:
            -1px -1px 0 #691212,
            1px -1px 0 #691212,
            -1px 1px 0 #691212,
            1px 1px 0 #691212;
        border-radius: 0 0 5px 5px;
        padding-top: 15px;
        margin-bottom: 10px;
    }

    &__counter-list {
        padding: 0px 20px;
    }

    &__counter-list li {
        padding-bottom: 15px;
    }

    &__counter-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__counter-text {
        font-size: 20px;
    }

    &__counter-poker {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }

    &__counter-knb {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }

    &__item-referrals {
        background: repeating-linear-gradient(45deg,
                #bcae60,
                #bcae60 10px,
                #989046 10px,
                #989046 20px);
    }

    &__item-margin {
        margin-top: 5px;
        background: repeating-linear-gradient(45deg,
                #589b4f,
                #589b4f 10px,
                #4c7937 10px,
                #4c7937 20px);
    }

    &__ava {
        display: flex;
        align-items: center;
        width: 80%;
    }

    &__ava-img {
        border-radius: 50%;
        width: 65px;
        margin-right: 10px;
    }

    &__user-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-right: 10px;
        width: 60%;
    }

    &__username {
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 5px 10px;
        height: 20px;
        backdrop-filter: blur(5px);
        max-width: 100%;
    }

    &__username-text {
        font-size: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__lvl-box {
        display: flex;
        justify-content: center;
        border-radius: 5px;
        padding: 5px 10px;
        height: 20px;
        backdrop-filter: blur(5px);
    }

    &__lvl-text {
        font-size: 20px;
    }

    &__rank-img {
        width: 65px;
    }

    &__referrals-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__referral-box {
        position: relative;
    }

    &__referrals-img {
        position: absolute;
        width: 30px;
        border-radius: 50%;
        border: 2px solid #989046;
        bottom: -17px;
    }

    &__referrals-img:nth-child(1) {
        left: 0px;
        z-index: 2;
    }

    &__referrals-img:nth-child(2) {
        left: 20px;
        z-index: 1;
    }

    &__referrals-img:nth-child(3) {
        left: 40px;
    }

    &__referrals-img--text {
        position: absolute;
        left: 75px;
        bottom: -10px;
        font-size: 20px;
        text-shadow:
            -1px -1px 0 #696812,
            1px -1px 0 #696812,
            -1px 1px 0 #696012,
            1px 1px 0 #696012;
    }

    &__income-btn {
        background: repeating-linear-gradient(45deg, #696812, #696812 10px, #696812 10px, #696812 20px);
        border: none;
        border-radius: 5px;
        max-width: 120px;
        width: 100vw;
        height: 35px;
        color: #fff;
        font-weight: 700;
        text-align: center;
    }

    &__share-title {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    &__share-text {
        font-size: 14px;
        font-weight: 700;
        text-shadow:
            -1px -1px 0 #126941,
            1px -1px 0 #126941,
            -1px 1px 0 #126941,
            1px 1px 0 #126941;
    }

    &__share-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
    }

    &__share-info {
        font-size: 10px;
        text-align: center;
        width: 220px;
        text-shadow:
            -1px -1px 0 #126941,
            1px -1px 0 #126941,
            -1px 1px 0 #126941,
            1px 1px 0 #126941;
    }


    &__share-btn {
        border-radius: 50%;
        border: none;
        background: #406c91;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: colorChange 0.3s infinite alternate;
    }

    @keyframes colorChange {
        0% {
            background-color: #a84242;
        }

        100% {
            background-color: #2d6eaa;
        }
    }

    &__promo {
        display: none;
    }

    &__promo-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__item-promo {
        display: block;
    }

    &__promo-enter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        gap: 20px;
    }

    &__promo-input {
        font-size: clamp(12px, 4vw, 20px);
        border: 2px solid #606dbc;
        border-radius: 5px;
        background-color: #333e79d7;
        color: #fff;
        outline: none;
        text-indent: 5px;
        width: 100%;
        height: 35px;
        padding: 5px;
        box-sizing: border-box;
    }

    &__promo-enter--btn {
        background: #333e79;
        border: 2px solid #606dbc;
        border-radius: 5px;
        max-width: 120px;
        width: 100%;
        height: 35px;
        color: #fff;
        font-weight: 700;
    }

    &__promo-create {
        display: flex;
        justify-content: center;
    }

    &__promo-create--btn {
        background: #333e79;
        border: 2px solid #606dbc;
        border-radius: 5px;
        width: 100vw;
        height: 35px;
        color: #fff;
        font-weight: 700;
    }

    &__promo-title {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__promo-title span {
        padding-right: 10px;
    }

    &__promo-share {
        border-radius: 50%;
        border: none;
        background: #406c91;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: colorChange 0.3s infinite alternate;
    }

    &__promo-sum {
        margin-bottom: 5px;
    }

    /* WINDOW CREATE */
    &__window-back {
        background: repeating-linear-gradient(45deg, #555972, #555972 10px, #41465f 10px, #41465f 20px);
    }

    &__window-ok {
        background: repeating-linear-gradient(45deg, #5c69c0, #5c69c0 10px, #43509b 10px, #43509b 20px);
    }

    &__window-back,
    &__window-ok {
        border: none;
        border-radius: 5px;
        max-width: 145px;
        width: 100vw;
        height: 35px;
        color: #fff;
        font-weight: 700;
        text-align: center;
    }

    &__window-box {
        display: none;
    }

    &__blur {
        background-color: #020b168a;
        height: 100vh;
        width: 100vw;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        z-index: 2;
    }

    &__window {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #04233db2;
        border: 1px solid #072a47;
        border-radius: 15px;
        padding: 30px 15px;
        z-index: 3;
    }

    &__window-title {
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
    }

    &__window-subtitle {
        font-size: 14px;
        margin-top: 5px;
        text-transform: uppercase;
    }

    &__window-input {
        border: 1px solid #5c5b5b;
        border-radius: 5px;
        background-color: #1e375079;
        color: #fff;
        outline: none;
        text-indent: 5px;
        width: 100%;
        padding: 5px;
        margin: 10px 0;
    }

    &__window-input:focus {
        font-family: "Lunasima", sans-serif;
        outline: 2px solid #315980;
        background-color: #1e375079;
        color: #fff;
    }

    &__window-input:valid {
        font-family: "Lunasima", sans-serif;
    }

    &__window-btn {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }

    &__agreement {
        text-align: center;
        margin: 10px 0;
    }

    &__agreement-link {
        padding: 5px 10px;
        border-radius: 4px;
        transition: background-color 0.3s;
        -webkit-tap-highlight-color: transparent;
    }

    &__agreement-link:hover {
        background-color: #888888;
    }

    &__agreement-link:active {
        background-color: #888888;
    }
}