.agreement {
    line-height: 150%;

    &__list {
        counter-reset: item;
        margin-bottom: 20px;
    }

    &__item {
        counter-increment: item;
        padding-top: 10px;
    }

    &__item::before {
        content: counters(item, ".") " ";
        font-weight: bold;
        padding-right: 5px;
    }

    &__sublist {
        counter-reset: subitem;
        margin-left: 20px;
    }

    &__subitem {
        counter-increment: subitem;
        padding-top: 10px;
    }

    &__subitem::before {
        content: counters(item, ".") "." counter(subitem) " ";
        padding-right: 5px;
    }

    &__terms {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__terms-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__terms-checkbox {
        position: relative;
        width: 15px;
        height: 15px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: 1px solid #c5c5c5;
        border-radius: 3px;
        outline: none;
    }

    &__terms-checkbox:checked::before {
        content: "✓";
        font-size: 27px;
        color: #fff;
        text-align: center;
        line-height: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333;
        border-radius: 2px;
    }

    &__terms-text {
        padding-left: 5px;
        font-weight: bold;
    }

    &__terms-btn {
        color: #485292;
        background: repeating-linear-gradient(45deg, #b1b8e9, #b1b8e9 10px, #d1d7f7 10px, #d1d7f7 20px);
        margin-top: 10px;
    }

    &__terms-btn.active {
        color: #fff;
        background: repeating-linear-gradient(45deg, #5c69c0, #5c69c0 10px, #43509b 10px, #43509b 20px);
    }
}