.blocked {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    justify-content: center;
    height: 75vh;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    &__img img {
        width: 50px;
    }

    &__title {
        color: #bebebe;
        font-size: 30px;
        text-align: center;
        max-width: 270px;
    }

    &__text {
        color: #a7a7a7;
        text-align: center;
        max-width: 270px;
    }

    &__link {
        color: #a7a7a7;
        text-decoration: underline;
    }
}