button {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

.pointcursor {
    cursor: pointer;
}

.slider-container {
    position: relative;
    max-width: 450px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin: 15px 0;
}

.slider-wrapper {
    position: relative;
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.slide video {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.slider-dots {
    text-align: center;
    margin-top: 5px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 2px;
    margin: 0 5px;
    background-color: #585858;
    border-radius: 20%;
    cursor: pointer;
}

.dot.active {
    background-color: #b8b5b5;
}

/* Games Box */
.games {
    display: flex;
    justify-content: center;

    &__box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    &__img {
        max-width: 130px;
        width: 100%;
        height: auto;
        border-radius: 5px;
        box-sizing: border-box;
    }
}


.game__counter {
    display: flex;

    &-text {
        padding-right: 5px;
    }
}

@media (max-width: 449px) {

    .games__box {
        gap: 10px;
    }
}

@media (max-width: 390px) {

    .games__img {
        max-width: 170px;
    }

    .games__box {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}