#private-options {
    display: none;
}

#private:checked~#private-options {
    display: block;
}

.newpoker {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;

    &__filters {
        margin: 20px 0 10px;
    }

    &__players,
    &__limit,
    &__table {
        margin-bottom: 20px;
    }

    &__players-btn,
    &__limit-btn {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }

    &__back-create {
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }

    &__back,
    &__create {
        border: none;
        border-radius: 5px;
        max-width: 145px;
        width: 100vw;
        height: 35px;
        color: #fff;
        font-weight: 700;
        text-align: center;
    }

    &__back {
        background: repeating-linear-gradient(45deg, #555972, #555972 10px, #41465f 10px, #41465f 20px);
    }

    &__create {
        background: repeating-linear-gradient(45deg, #5c69c0, #5c69c0 10px, #43509b 10px, #43509b 20px);
    }
}